.home{
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar{
    width: 100%;
    position: fixed;
}
 
.devices{
    margin-left: 4rem;
}

h1{
    position: relative;
    top: 100px;
    font-weight: bold;
}
h2{
    text-align: center;
}
  
.technique{
    background-image: url( "images/nature.jpg"); 
    width: 100%;
    /* height: 3300px; */
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

.lesimages{
    z-index: 2;
}

.image_blue{
    background-image: url("images/image_fond_bleu.png");
    width: 100%;
    /* height: 750px; */
    background-size: cover;
    background-repeat: no-repeat;
}
 
.temoignage{
    background-color: #C4C4C4;
    /* width: 18.75rem;*/
    height: 32vh; 
    border-radius: 20px;
}
.temoin1{
    background-color: #D6E6DA;
    /* width: 18.75rem; */
    height: 30vh;
     border-radius: 20px;
} 

.our_contacts{
    width: 350px;
} 

button{
    justify-content: center !;
}

input{
    border: none;
    border-bottom: 1px solid black;
    background: none;
    outline: none;
}
.partenaires{
    justify-content: center;
    justify-content: space-around;
}

.contact{
    justify-content: space-around;
}

.reseaux_sociaux{
    justify-content: center;
    justify-content: space-around;
}


@media all and (max-width: 2560px){
    .mi{
        width: inherit; 
    }
}
 @media all and (max-width: 1198px){
    .partenaire{
        width: 239px; 
    }
}

@media all and (max-width: 606px){
    .footer_right{
       display: none; 
    }
    .logo_reseau, .image_depannage{
        display: none;
        padding: 0px !important;
    }
    input{
        width: 100px !important;
    }
}

@media all and (max-width: 637px){
    .assistance{
        flex-wrap: wrap;
    }
}

@media all and (max-width: 425px){
    .depannage{
        padding: 0rem !important;
    }
}

@media all and (max-width: 375px){
    .vincent-invisible{
        visibility: collapse !important;
    }
    .our_contacts{
        width: 314px !important;
    }
}

@media all and (max-width: 320px){

    .our_contacts{
         width: 272px !important; 
         padding: 1rem !important;
    }
    .assistance{
        margin: 0rem !important;
    }

}


